.cuerpo2{
    background-image: url(https://i.picsum.photos/id/695/5017/3344.jpg?hmac=RRQJIsz4vaZ3ZO40TN858DgmtI-ABLBsvgbSoWglK0g);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover; 
    overflow-x: hidden;
}

//Header//
.fondo{
    background-color: rgb(114, 187, 5);
    border-bottom: 2px solid black;
    font-size: 30px;
  }

  //Footer//
 .footer{
   background-color: #141517;
   font-weight: bolder;
   font-family: 'Poppins';
   text-align: center;
   font-size: 1.2rem;
   padding: 3px;
   color: grey;
   border-top: 3px solid black;
 }
 .redes{
  background-color: #292a2c;
   padding-bottom: 1rem;
   animation: float 4s ease-in-out infinite;
 }

 .redesImg{
   text-align: center;
 }
 
 .blanco{
   background: rgb(196, 190, 190);
   margin-top: 2rem;
   border: 2px solid black;
   padding: 20px;
}

#galeria img:hover{
  border: 2px solid white;
}

#galeria img{
  width: 100%;
  height: 250px;
}

#galeria .col-lg-4{
  margin: 0 !important;
  padding: 25px;
}

.galeria{
  background-color: forestgreen;;
}
